@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.wrapper {
    white-space: 100vw;
    height: 100vh;
    background-color: #50312F;
    color: white;
}

.bran span {
    color: #aebd38;
}

.bran {
    margin-top: -7px;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu .active {
    color: #aebd38;
}

.active:hover {
    background-color: darkkhaki;
    color: black;
}

.menu li {
    list-style: none;
}

h1{
    font-size: 3em;
}

span {
    color: #aebd38;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

/* cuerpo */

.main {
    margin: 0 auto;
    width: 75vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.download-cv {
    padding: 10px 20px;
    background-color: #aebd38;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.download-cv:hover {
    background-color: white;
    color: black;
}

.main img{
    width: 450px;
    border: 7px solid #aebd38;
    height: 500px;
    margin-left: 5vw;
}

.About {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;

}

.About img{
    width: 100%;
    grid-column: 1/5;
}

.about-info{
    grid-column: 5/10;
    padding: 4em;
}
.about-info h2 {
    font-size: 2em;
    color: black;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #aebd38;
    margin-top: 10px;
    margin-bottom: 3em;
}

.About p {
    margin-bottom: 1em;

}

.Porfolio {
    width: 100vw;
    background-color: #50312F;
    color: white;
}

.porfolio-headings {
    width: 100vw;
    padding: 5em;

}

.porfolio-headings h2 {
    font-size: 2.5em;
}

.Porfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    background-color: #744946;
    border-radius: 15px;
    margin: 10px;
}

.estilo-p {
    height: 110px;
}



.card_img {
    width: 100%;
    height: 250px;
    /* background-image: url(/imagenes/scripts.jpg); */
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_title {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card_projects_links {
    display: flex;
    justify-content: space-evenly;
}

.card_projects_links a {
    color: #aebd38;
    text-decoration: none;
}

.card_projects_links i {
    font-size: 2em;
}

.proyect-details-contents a {
    text-decoration: none;
    color: black;
}

.proyect-details-contents {
    display: flex;
    justify-content: center;
}

.proyect-details-contents button {
    width: 70%;

}

